# network specific node uri : `"ETH_NODE_URI_" + networkName.toUpperCase()`
ETH_NODE_URI_ARBITRUM=''
ETH_NODE_URI_MAINNET=''
ETH_NODE_URI_BSC=''

# network specific mnemonic : `"MNEMONIC_ " + networkName.toUpperCase()`
# MNEMONIC_MAINNET=<mnemonic for mainnet>
# generic mnemonic (if no specific found):
# MNEMONIC=<mnemonic>

# coinmarketcap api key for gas report 
COINMARKETCAP_API_KEY=
TENDERLY_USERNAME=
MORALIS_API_KEY=

PRIVATE_KEY_MAINNET=
PRIVATE_KEY_SEPOLIA=
PRIVATE_KEY_ARBI_GOERLI=
PRIVATE_KEY_ARBITRUM=
PRIVATE_KEY_BSC=
PRIVATE_KEY_BSC_TESTNET=
PRIVATE_KEY_GOERLI=

ALCHEMY_KEY=
BSC_API_KEY=
ARBI_API_KEY=
ETHERSCAN_API_KEY=