__pycache__
.history
.hypothesis/
build/
reports/

node_modules
coverage
coverage.json
typechain-types
.openzeppelin

#Hardhat files
cache
artifacts
envs/*
!envs/.env.example
.env.testnet
.env.mainnet
export/31337-frontend.json
export/31337-api.json
export/31337-verify.json
export/31337-subgraph.json
export/31337-prnt.json
export/mfdABI.json
export/cicABI.json
export/mfdStatsABI.json
.DS_Store
.env

cache/
artifacts/

coverage*
typechain/

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

.idea/

node_modules/
.env

.yalc
yalc.lock

contractsInfo.json
deployments/hardhat
deployments/localhost
deployments/beta

/.dapp
.env

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
